In [1]:
# Thêm thư viện trong notebook
import pandas as pd
import numpy as np

In [2]:
# Đưa dữ liệu vào Python và đọc
df1 = pd.read_excel ("Final_Project_Dataset.xlsx")
df1

,CustomerName,Age,NameOfIndustry,JobTitle,AnnualSalary,WorkExperience,Gender
0,Claire Gute,35-44,Buyer,Management assistant,76650,11 - 20 years,Woman
1,Darrin Van Huff,45-54,Veterinary medicine,Managing veterinarian,155000,31 - 40 years,Man
2,Sean O'Donnell,35-44,"""Government Relations"" (Lobbying)",Assistant,65000,5-7 years,Woman
3,Brosina Hoffman,25-34,Academia - STEM,Graduate research assistant,32000,2 - 4 years,Woman
4,Andrew Allen,25-34,Academia / Research,Project manager senior,68500,11 - 20 years,Woman
...,...,...,...,...,...,...,...
923,Gabrielle Rampling,35-44,Work-Study,Student Worker,16000,11 - 20 years,Woman
924,Ava Gray,35-44,Writing and journalism,Tier 2 writer/ business writer pod manager,56000,21 - 30 years,Woman
925,Harry Churchill,55-64,Zoo,Zoo curator,80000,31 - 40 years,Woman
926,Hannah Parr,35-44,Zoos and Aquariums,Zoo Educator,37419,11 - 20 years,Woman
927,Deirdre James,45-54,Data Engineer,Proposal Manager,87938,21 - 30 years,Woman

In [3]:
df2 = pd.read_excel("SalebyCustomer.xlsx")
df2

,RowID,OrderID,OrderDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,State,PostalCode,Region,ProductID,Category,Sub-Category,ProductName,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2021-11-08,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2021-11-08,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2021-06-12,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2021-10-11,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,383.0310
4,5,US-2015-108966,2021-10-11,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9988,9990,CA-2014-110422,2021-01-21,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9989,9991,CA-2017-121258,2021-02-26,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9990,9992,CA-2017-121258,2021-02-26,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9991,9993,CA-2017-121258,2021-02-26,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9992,9994,CA-2017-119914,2021-05-04,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [4]:
# Thống kê các độ đo dữ liệu hai bảng
df1.describe()

        AnnualSalary
count     928.000000
mean    77507.933190
std     42817.713864
min         0.000000
25%     50000.000000
50%     67000.000000
75%     97000.000000
max    450000.000000

In [5]:
df2.describe()

,RowID,PostalCode,Sales,Quantity,Discount,Profit
count,9993.000000,9993.000000,9993.000000,9993.000000,9993.000000,9993.000000
mean,4997.624037,55191.593816,229.869885,3.789252,0.156198,59.907061
std,2885.281351,32065.067934,623.275155,2.224989,0.206462,228.288086
min,1.000000,1040.000000,0.444000,1.000000,0.000000,0.000000
25%,2499.000000,23223.000000,17.280000,2.000000,0.000000,5.369000
50%,4998.000000,56560.000000,54.480000,3.000000,0.200000,13.967200
75%,7496.000000,90008.000000,209.940000,5.000000,0.200000,43.164000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [6]:
#Kiểm tra tính toàn vẹn của dữ liệu
df1.isnull().sum()

CustomerName      0
Age               0
NameOfIndustry    0
JobTitle          0
AnnualSalary      0
WorkExperience    0
Gender            0
dtype: int64

In [7]:
df2.isnull().sum()

RowID           0
OrderID         0
OrderDate       0
ShipMode        0
CustomerID      0
CustomerName    0
Segment         0
Country         0
City            0
State           0
PostalCode      0
Region          0
ProductID       0
Category        0
Sub-Category    0
ProductName     0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

In [8]:
# Xoá cột không cần thiết
del df1 ['NameOfIndustry']
del df1 ['JobTitle']

In [9]:
del df2 ['RowID']
del df2 ['OrderID']
del df2 ['CustomerID']
del df2 ['ProductID']

In [10]:
# Xuất file csv sau khi xử lý
df1.to_csv('Dataset1.csv')

In [11]:
df2.to_csv('Dataset2.csv')