In [1]:
# Thêm thư viện trong notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_excel ('Course_4.xlsx')
df

,Customer Name,Age,Name of Industry,Job title,Annual salary,Country,Work experience,Gender,State,Category,Sub-Category,Product Name,Sales
0,Claire Gute,35-44,Buyer,Management assistant,76650,USA,11 - 20 years,Woman,Kentucky,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,Darrin Van Huff,45-54,Veterinary medicine,Managing veterinarian,155000,USA,31 - 40 years,Man,Kentucky,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,Sean O'Donnell,35-44,"""Government Relations"" (Lobbying)",Assistant,65000,USA,5-7 years,Woman,California,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,Brosina Hoffman,25-34,Academia - STEM,Graduate research assistant,32000,USA,2 - 4 years,Woman,Florida,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,Andrew Allen,25-34,Academia / Research,Project manager senior,68500,USA,11 - 20 years,Woman,Florida,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,Gabrielle Rampling,35-44,Work-Study,Student Worker,16000,USA,11 - 20 years,Woman,New York,Office Supplies,Appliances,Kensington 4 Outlet MasterPiece Compact Power ...,406.6000
924,Ava Gray,35-44,Writing and journalism,Tier 2 writer/ business writer pod manager,56000,USA,21 - 30 years,Woman,New York,Office Supplies,Binders,GBC DocuBind 300 Electric Binding Machine,841.5680
925,Harry Churchill,55-64,Zoo,Zoo curator,80000,USA,31 - 40 years,Woman,Pennsylvania,Office Supplies,Paper,Xerox 1985,15.5520
926,Hannah Parr,35-44,Zoos and Aquariums,Zoo Educator,37419,USA,11 - 20 years,Woman,Pennsylvania,Technology,Accessories,Hypercom P1300 Pinpad,252.0000
927,Deirdre James,45-54,Data Engineer,Proposal Manager,87938,USA,21 - 30 years,Woman,Virginia,Office Supplies,Art,Newell 324,46.2000

In [8]:
# Thống kê các độ đo
df.describe()

       Annual salary        Sales
count     928.000000   928.000000
mean    77507.933190   238.633039
std     42817.713864   598.468383
min         0.000000     1.248000
25%     50000.000000    18.810000
50%     67000.000000    57.278000
75%     97000.000000   213.206250
max    450000.000000  8159.952000

In [9]:
#Kiểm tra tính toàn vẹn của dữ liệu
df.describe().show()

Customer Name       0
Age                 0
Name of Industry    0
Job title           0
Annual salary       0
Country             0
Work experience     0
Gender              0
State               0
Category            0
Sub-Category        0
Product Name        0
Sales               0
dtype: int64

In [10]:
# Xoá cột [Country] không cần thiết
del df ['Country']

In [11]:
# Kiểm tra số người theo giới tính
df['Gender'].value_counts()

Woman    801
Man      127
Name: Gender, dtype: int64

In [12]:
# Kiểm tra số người theo độ tuổi
df['Age'].value_counts()

25-34         395
35-44         325
45-54         126
55-64          45
18-24          31
65 or over      6
Name: Age, dtype: int64

In [13]:
# Kiểm tra số người theo năm kinh nghiệm
df['Work experience'].value_counts()

11 - 20 years       310
8 - 10 years        170
5-7 years           152
21 - 30 years       151
2 - 4 years          92
31 - 40 years        29
1 year or less       15
41 years or more      9
Name: Work experience, dtype: int64

In [11]:
result = df.dtypes
result

Customer Name        object
Age                  object
Name of Industry     object
Job title            object
Annual salary         int64
Work experience      object
Gender               object
State                object
Category             object
Sub-Category         object
Product Name         object
Sales               float64
dtype: object

In [12]:
df.to_csv('Final.csv')